.nav-tabs .nav-link {
  border-radius: 0.5rem; /* Rounded corners */
  padding: 1rem 3rem; /* Add padding */
  font-weight: 500; /* Semi-bold text */
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.nav-tabs .nav-link.active {
  color: white; /* White text for active tab */
  border: none; /* Remove borders */
}
