.menu-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
  background-color: #cdd0d5; /* Light gray hover background */
  color: #000; /* Dark text */
}

.sidebar-heading:hover {
  color: #0d6efd; /* Bootstrap primary blue */
  transition: color 0.3s;
}
